@require "jeet"

html
  position relative
  min-height 100%
  
body
  padding 0px
  margin: 0 0 0 0em
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight 300
  font-size 15px
  background-color bg_color

h4
  font-size 1.2em

header
  padding-top 1em 
  padding-bottom 1em
  background-color bg_accent
  a
    text-decoration none

.header-title
  font-size 2.5em
  text-align center
  color white

footer
  left 0
  bottom 0
  height 4em
  width 100%
  color #93a1a1
  text-align center
  line-height 100%
  p
    margin-bottom 0.5em
  .language-switch
    display block
  
p
  line-height 2.5em

.container
  max-width 800px
  margin-right auto
  margin-left auto
  padding 0px 15px 0px 15px

@media (min-width sm_size)
  .header-title
    font-size 1em
@media (min-width md_size)
  .header-title
    font-size 1.5em
@media (min-width lg_size)
  .header-title
    font-size 2em
