<div class="docs-repl">
  {{ if eq "=" (substr .Inner 0 1) }}
  <nav><ul></ul></nav>
  {{ end }}
  <textarea>{{ .Inner }}</textarea>

  <div class="docs-repl-result">
    {{ if eq "=" (substr .Inner 0 1) }}
    <iframe src="https://overpass-turbo.eu/map.html?silent"
    {{ else }}
    <iframe src="https://overpass-turbo.eu/map.html?silent&Q={{ .Inner }}"
    {{ end }}
          seamless="seamless"
          frameBorder="0" 
          width="100%;">
    </iframe>
    <textarea></textarea>
    <a class="docs-repl-change-output button" href="#">Data</a>
  </div>
</div>
