sm_size = 568px
md_size = 768px
lg_size = 1024px
xl_size = 1280px
total-width = 100%

ribbon_color = #63a8a5
bg_color = #ffffff
bg_accent = #92d07a
bg_title = #a8afb2

text_muted = #93a1a1
text_accent = #79bc5f
text_color = #444
