sm_size = 568px
md_size = 768px
lg_size = 1024px
xl_size = 1280px
total-width = 100%

ribbon_color = #63a8a5
bg_color = #ffffff
bg_accent = #5cb85c
bg_winner = #5bc0de
bg_title = #a8afb2

text_muted = #93a1a1
text_accent = #79bc5f
text_color = #444
code_color = #A44247

z_notif = 10